body {
  background-color: #fff;
  color: #444;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  justify-content: space-between;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 650px;
  padding: 0 1em;
}

header,main,footer {
  padding: 0 1em;
  text-align: center;
}

#editor-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

#editor-menu > canvas {
  border: outset 2px;
}

#editor-menu > canvas:hover {
  border: inset 2px;
}

#main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#main-canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

#editor-grid {
  position: absolute;
  top: 0;
  left: 0;
}

.editor-tr, .editor-td {
  padding: 0;
  margin: 0;
  border: none;
}

.editor-input {
  text-align: center;
  font-size: large;
  background-color: transparent;
  color: transparent;
}

.editor-input:focus {
  outline-width: 0;
  color: white;
}
